/* Element UI 主题变量配置 */

/* 改变主题色变量 */
$--color-primary: #373f64;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

/* 导入默认主题样式 */
@import "~element-ui/packages/theme-chalk/src/index";

/* 导出变量供 JS 使用 */
:export {
  theme: $--color-primary;
}
